<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places we've been</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    @RenderBody()
  </body>
</html>
