<h1>Please add a location!</h1>
<form class="" action="/viewPlaces" method="post">
  <label for="new-place">Add new location</label>
  <input id="new-place" type="text" name="new-place">
  <button type "submit" name="button">Submit</button>
</form>
