<h1>Here's where we've been!</h1>
@foreach(var place in Model)
{
    <li><a href="viewPlaces/@place.GetId()">@place.GetCity()</a></li>
}
<p><a href="/Places">Click here</a> to add another place!</p>
<form class="" action="/places_cleared" method="post">
  <button type="submit" name="button">Clear all sites.</button>
</form>
